<html>
<%- include('partials/head') %>

<body>
    <!-- <h1 id="title">Welkom! <%= res.firstname %></h1> -->
    <h2>Roger Ravelli</h2>

    <div class="overzicht">
        <div class="zon">
            <h4>Opgewekte zon</h4>
            <img src="/img/sun.png" alt="zon" />
            <p>45 KwH | €8,87</p>
        </div>
        <div class="stroom">
            <h4>Teruggeleverde stroom</h4>
            <img src="/img/stroom.png" alt="stroom">
            <p>25 KwH | €4,84</p>
        </div>
    </div>

    <main>
        <div class="buttons">
            <button id="play"></button>
            <button id="pause"></button>
            <button id="stop"></button>
        </div>

        <a href="overview">Details</a>
        <article>
            Goedenmiddag Roger, wat fijn dat je terug bent.
        </article>

    </main>
    <%- include('partials/footer') %>

</body>

</html>