<html>
<%- include('partials/head') %>

<body>
  <a href="/">
    <h2>Roger Ravelli</h2>
    <img src="/img/overzicht.png" alt="terug naar overzicht">
  </a>

  <div class="overzicht">
    <div class="zon">
      <h4>Opgewekte zon</h4>
      <img src="/img/sun.png" alt="zon" />
      <p>12.3 KwH | €2,42</p>
    </div>
    <div class="stroom">
      <h4>Teruggeleverde stroom</h4>
      <img src="/img/stroom.png" alt="stroom">
      <p>9.9 KwH | €1,91</p>
    </div>
  </div>

  <div id="myBtnContainer">
    <a href="/day"><button class="btn" id="button-underline"> Dag </button></a>
    <a href="/overview"><button class="btn active" id="button-underline"> Week </button></a>
    <a href="/month"><button class="btn" id="button-underline"> Maand</button></a>
    <a href="/year"><button class="btn" id="button-underline"> Jaar</button></a>
  </div>

  <div class="calendar">
    <img src="/img/arrowleft.png" alt="pijltje naar links">
    <h3>4 mei - 10 mei 2020</h3>
    <img src="/img/arrowright.png" alt="pijltje naar rechts">
  </div>

  <div class="chart-container" style="position: relative; height:60vh; width: 100vw;">
    <canvas id="lineChart"></canvas>
  </div>

  <main>
    <div class="buttons">
      <button id="play"></button>
      <button id="pause"></button>
      <button id="stop"></button>
    </div>
    <article>

      <p>
        Deze week is een prima week wat betreft de opgewekte energie door jouw
        zonnepanelen Roger. Ik ga de aantallen per dag voor je opnoemen. Als je de grafiek toch iets te klein vind kun
        je je scherm een kwart slag draaien zodat je het beter kunt zien. Maandag 5,8 kilowattuur. Dinsdag 10,1
        kilowattuur.
        Woensdag 12,3 kilowattuur. Donderdag ging het iets minder maar wel 3,4
        kilowattuur. Vrijdag 5,4 kilowattuur. Zaterdag 10,3 kilowattuur en
        zondag 8,1 kilowattuur.

      </p>

      <p> ...</p>

      <p>
        Ho. ho roger, niet te snel. Ik moet soms ook even nadenken op deze warme dagen hoor.
      </p>



      <p>
        Wat betreft de teruggeleverde stroom zat je maandag op 2,1 kilowattuur. Dinsdag 7,7 kilowattuur. Woensdag 9,9
        kilowattuur. Donderdag 1,2 kilowattuur. Vrijdag 2,5 kilowattuur. Zaterdag 6 kilowattuur en Zondag 5,6
        kilowattuur.
      </p>

      <p> ...</p>

      <p>
        Boven de grafiek kun je ook kijk wat jouw zonnepanelen vandaag, de afgelopen maanden en jaren hebben opgeleverd.
      </p>


    </article>

  </main>
  <%- include('partials/footer') %>

</body>

</html>