<html>
<%- include('partials/head') %>

<body>

  <!-- <h1 id="title">Welkom! <%= res.firstname %></h1> -->
  <h2>Duurzame Energie</h2>

  <canvas id="lineChart"></canvas>

  <main>


  </main>

  <%- include('partials/footer') %>

</body>


</html>