/* TYPOGRAPHY */

@import url("https://fonts.googleapis.com/css?family=Lato");

body,
html {
  height: 100%;
  background: #222222;
  font-family: "Lato", Roboto, sans-serif;
}

h2 {
  color: white;
  text-align: left;
  margin: 10% 10% 0;
  text-decoration: underline;
  font-weight: 800;
  font-size: 7vw;
}

h3 {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin-top: 0;
}

/* Line chart */
.chart-container {
  margin-top: 10%;
  /* width: 80%;
  height: 80%; */
  /* height: 700px; */
  /* margin: 1% auto;
  display: block; */
}

#lineChart {
  display: block;
  width: 50%;
  height: auto;
}

/* Article text */
main>article {
  display: none;
}

/* Overzicht stroom en zon */
.overzicht {
  display: flex;
  flex-direction: row;
  margin: 5% auto 0;
  width: 70%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.zon {
  width: 40%;
}

.zon>h4 {
  color: white;
  font-size: 4.5vw;
}

.zon>img {
  width: 10vw;
}

.zon>p {
  color: white;
  font-size: 4vw;
}

.stroom {
  width: 40%;
}

.stroom>h4 {
  color: white;
  font-size: 4.5vw;
}

.stroom>img {
  width: 10vw;
}

.stroom>p {
  color: white;
  font-size: 4vw;
}

/* Buttons calender */

#myBtnContainer {
  padding-top: 2em;
  padding-bottom: 1em;
  width: 80%;
  margin: auto;
}

/* Content */
/* .content {
  background-color: white;
  padding: 10px;
} */

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  position: relative;
  border: none;
  outline: none;
  padding: 12px 15px;
  background-color: #222222;
  cursor: pointer;
  border-radius: 0.2em;
  font-style: Montserrat;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Add a grey background color on mouse-over */
/* .btn:hover {
  background-color: #ddd;
} */

/* Add a dark background color to the active button */
.btn.active {
  /* background-color: #000000; */
  /* border: 3px solid #000; */
  color: white;
  font-weight: normal;
}

#button-underline {
  position: relative;
  color: white;
  text-decoration: none;
}

#button-underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: white;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;

}

/* #button-underline:before {
  display: block;
  position: absolute;
  right: 0;
  top: -5px;
  width: 0;
  height: 3px;
  background-color: black;
  content: "";
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
} */

#button-underline:hover:after,
#button-underline:hover:before {
  width: 100%;
}

/* Calender */
.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: auto;

}

.calendar>img {
  width: 3vw;
  height: 3vh;
}

.calendar>h3 {
  font-size: 4vw;
  margin: 0 5%
}

/* 
.grafieken {
  position: absolute;
  top: 20;
  left: 20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20vw;
} */

/* .grafieken>h4 {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: auto;
} */

/* .grafieken>img {
  width: 50%;
  margin: 5% auto;
}

.grafieken>p {
  color: white;
  font-size: 4vw;
  text-align: center;
  margin: auto;
  font-weight: 900;
}

.grafieken>a {
  color: white;
  font-size: 1rem;
} */

/* Speech synthesis */

@import url("https://fonts.googleapis.com/css?family=Crimson+Text");

html {
  font-size: 16pt;
  font-family: crimson text;
}

article {
  width: 60%;
  margin: auto;
}

blockquote,
div,
h1 {
  text-align: center;
}

blockquote {
  font-size: 1.2rem;
}

/* Buttons */

.buttons {
  position: absolute;
  top: 40;
  right: 15;
  width: 40vw;
  height: 30vh;
}


.buttons>button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
  margin: 2%;
}

/* .button:nth-of-type(1) {
  position: absolute;
  top: 5vh;
  right: 30vw;
}

.button:nth-of-type(2) {
  position: absolute;
  top: 5vh;
  right: 20vw;
}

.button:nth-of-type(3) {
  position: absolute;
  top: 5vh;
  right: 10vw;
} */

/* @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .buttons {
    height: 50vh;
  }


} */


/* #play {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play.svg);
}

#play.played {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/play1.svg);
}

#pause {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause.svg);
}

#pause.paused {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/pause1.svg);
}

#stop {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop.svg);
}

#stop.stopped {
  background-image: url(https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg);
} */

#play {
  background-image: url(../img/play.svg);
  background-repeat: no-repeat;
}

#play.played {
  background-image: url(../img/play1.svg);
  background-repeat: no-repeat;
}

#pause {
  background-image: url(../img/pause.svg);
  background-repeat: no-repeat;
}

#pause.paused {
  background-image: url(../img/pause1.svg);
  background-repeat: no-repeat;
}

#stop {
  background-image: url(../img/stop.svg);
  background-repeat: no-repeat;
}

#stop.stopped {
  background-image: url(../img/stop1.svg);
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  html {
    font-size: 14pt;
  }

  article {
    width: 90%;
  }
}

body {
  margin: 0;
}

/*  demo decor */

#-demo-title {
  position: fixed;
  top: 0;
  width: 100%;
  height: 36px;
  background-color: #d5ffd1;
  color: #0f316c;
  line-height: 36px;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

#-demo-profile {
  float: left;
  height: 100%;
  opacity: 0.4;
}

#-demo-profile:hover {
  opacity: 1;
}

@media (max-width: 400px) {
  #-demo-title {
    font-size: 12pt;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

  h2 {
    font-size: 3vw;
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
  }

  .buttons>button {
    top: 30;
    width: 50px;
    height: 50px;
  }

  .overzicht {
    margin-top: 1%;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    left: 20;
    top: 20
  }


  .zon {
    width: 30%;
  }

  .zon>h4 {
    font-size: 1vw;
  }

  .zon>img {
    width: 3vw;
  }

  .zon>p {
    font-size: .8vw;
  }

  .stroom {
    width: 30%;
  }

  .stroom>h4 {
    font-size: 1vw;
  }

  .stroom>img {
    width: 3vw;
  }

  .stroom>p {
    color: white;
    font-size: .8vw;
  }

  #myBtnContainer {
    margin-top: 2%;
  }

  .btn {
    font-size: 20px;

  }

  .calendar>img {
    width: 2vw;
    height: 4vh;
  }

  .calendar>h3 {
    font-size: 2vw;
    margin: 0 5%
  }

  .chart-container {
    margin-top: 0;
    display: block;
    width: 70%;
  }

  .lineChart {
    width: 60%;
    display: block;
  }

}